<button (click)="addPerson()">Add Person</button>
<ul>
  <li *ngFor="let m of item">
    {{ m.name }} {{ m.age}}
  </li>
</ul>

<div class="">
  <h1>To Do App</h1>
  <input type="text" [(ngModel)]="name" placeholder="name" id="add">
  <input type="number" [(ngModel)]="age" placeholder="age" id="age">
  <button (click)="addFreshPerson()">Add</button>
  <button>Delete</button>
</div>
<div>
  <h6>New Persons</h6>
  <ul id="faves">
    <li *ngFor="let freshPerson of freshPersonsList">
      {{freshPerson.name}} {{freshPerson.age}}
      <button>Delete</button>
    </li>
  </ul>
</div>



